*{
    box-sizing: border-box;
}
body{
    background-color: rgb(25,25,25);
    font-family: Arial, Helvetica, sans-serif;
  }
  .title{
    width: 100%;
  }
  .title-description{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .move-btn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
  }
  .choice-img{
    background: transparent;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid white;
    transition: background-color 0.3s, transform 0.3s;
  }
  .choice-img:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
  }
  #rock,
  #paper,
  #scissor{    
    padding: 0;
    background-color: inherit;
    border: none;
    text-decoration: none;
  }
  #container{
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .result-img{
    height: 80px;
    width: 60px;
    border: none;
  }
.reset-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
#reset{
    color: black;
    width: 20%;
    height: 40px;
   background-color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s;
}

#reset:hover {
  background-color: lightgray;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .choice-img {
    height: 150px;
    width: 150px;
  }
  .result-img {
    width: 75px;
    height: 75px;
  }
  #reset {
    width: 50%;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .choice-img {
    height: 100px;
    width: 100px;
  }
  .result-img {
    width: 50px;
    height: 50px;
  }
  #reset {
    width: 70%;
    height: 20px;
  }
}